<nav class="navbar">
  <div class="navbar-brand flex items-center">
    <a routerLink="/usuarios" class="logo">Backoffice</a>
    <div class="navbar-links">
      <a routerLink="/usuarios" routerLinkActive="active" class="nav-link">Users</a>
      <a routerLink="/universidades" routerLinkActive="active" class="nav-link">Universities</a>
      <a routerLink="/preguntas" routerLinkActive="active" class="nav-link">Consultas (FAQ)</a>
    </div>
  </div>
  <div class="navbar-menu">
    <button (click)="logout()" class="btn-logout">
      Log Out
    </button>
  </div>
</nav>
